
body {
    font-family: 'Akzidenz-Grotesk-Light';
    background-color: white;
}



h1 {
    font-weight: 100;
    font-family: 'eveleth-clean-regular';

}

.grille {
    display: grid;
    gap: 2vw;
    grid-template-columns: 1fr 1fr;
}

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    padding: 10vw;
}

.slide>div {
    max-width: 70vw;
}
.colonnes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


p {
    font-size: 1.5vw;
    padding: 1vw;
}

h1 {
    font-size: 1.8vw;
    text-align: center;
}
